@{
    ViewData["Title"] = "Destino Certo";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Destino Certo!</h1>
    <h3>Alguns de nossos pontos turísticos</h3>

  <figure>
         <img src="/imagens/fortaleza.png" height="200" ></figure>

         <figure>
         <img src="/imagens/ouropreto.jpg" height="200" ></figure>
         
         <figure>
         <img src="/imagens/rio.jpg" height="200" ></figure>
         </p>
</div>
<div>

    <p>Site oficial do centro de viagens Destino Certo, faça aqui o seu cadastro e escolha seu próximo destino.</p>
</div>

